@charset "UTF-8";

body{
		height : 80%;
		background-color: #1e1918;
	}
	.video-all{
		width : 100%;
		height : 80%;
		position: absolute;
		top:100px;
		z-index:1;
	}
	#v0 { float: left; width: 40%;
			margin: 11% 0% 4% 8%;
			 }

	#v1 { float: left; width: 40%;
			margin: 11% 0% 0% 4%;
			}


	.videos img {
		width:100%;
		height:auto;
	}


	a.video {
		float: left;
		position: relative;
	}

	a.video span {
		width: 100%;
		height: 100%;
		position: absolute;
		background: url("https://t1.daumcdn.net/cfile/tistory/272B024E567617E839") no-repeat;
		background-position: 50% 50%;
		background-size: 10%;
	}

	a.video span:hover {
		opacity: 0.7;
		filter: alpha(opacity=70);
	}

	@media screen and (max-width: 480px) {
		a.video span {
			background-size: 20%;
		}
	}


	@media (max-width: 640px) {
		#v0 {
			clear: left;
			width: 90%;
			margin: 11% 0% 4% 5%;
		}
		#v1 {
			clear: left;
			width: 90%;
			margin: 11% 0% 4% 5%;
		}
	}

